<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bockstallmann.interaktive.vorlesung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ListCourses"
            android:label="@string/title_activity_list_courses" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CourseDetails"
            android:label="@string/title_activity_course_details" >
        </activity>
        <activity android:name=".activities.PdfReader" >
        </activity>
        <activity
            android:name=".activities.CourseDetails_details"
            android:label="@string/title_activity_course_details_details" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CourseDetails_sessions"
            android:label="@string/title_activity_course_details_sessions" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>